
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');


body
{
  font-family: 'Rajdhani', sans-serif;
}
.lesH2
{
  color: black;
  font-weight:bolder;
}
.logo2
{
  height: 9vh;
  margin-left: -13rem;
  margin-top: 0.2rem;
}
#menu__toggle {
  opacity: 0;
  margin-right: 2rem;
  z-index: 999;
  
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  z-index: 999;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  position: fixed;
  background-color: black;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  
  width: 2rem;
  height: 5vh;
  margin-left: 2rem;
  cursor: pointer;
  z-index: 999;
}


.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: relative;

  width: 100%;
  height: 0.5vh;
  

  background-color:#B53636;
  
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
  
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: relative;
  visibility: hidden;
  top: 0;
  right: -100%;

  width: 300px;
  height: 100%;
  
  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: beige;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

  transition-duration: .25s;
  z-index: 9;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  
  color: white;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  font-weight: 600;

  text-decoration: none;

  transition-duration: .25s;
}
.menu__item:hover {
  background-color: red;
}

.BurgerLogo
{
  display: flex;
  
}
.logo
{
  width: 13vh;
  height: 13vh;
  position: absolute;
  margin-left: -5rem;
  
}

.nav
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  
  padding: 1rem;
  
 
}
nav a
{
  text-decoration: none;
  margin-right: 1rem;
  color : black;
  font-size:larger;
}
nav a:hover
{
  text-decoration: overline red 3px solid;
}
nav a :visited
{
  color : red;
  
}
.barnav
{
  display: flex;
  justify-content: space-between;
  background-color: #EDECEC;
  height: 11vh;
  position: relative;
}
.leHeader
{
  height: 50vh;
  margin: none;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  ;
}
.leFooter
{
  background-color: #626060;
  height: 5vh;
  padding: 1.5rem;
  position: relative;
  margin-top: 5vh;
  text-align: center;
  
}
footer
{
  color: white;
}
.bloc1
{
  display: flex;
  justify-content: center;
  height: 50vh;
  margin: 5rem;
  position: relative;
  
 

}

.sousbloc1 
{
  background-color: whitesmoke;
  color: #9B3E3E;
  height: 40vh;
  width: 23vw;
  position: relative;
  border: 2px #9B3E3E solid;
  
}
.sousbloc1  a ::visited
{
  
  text-decoration: none;
  
}
.sousbloc1:hover
{
  background-color: #626060;
  color: white;
  height: 40vh;
  width: 23vw;
  position: relative;
  border: 2px red solid;
 
}
.titreBienvenidad
{
  color: #B53636;
  margin-top: 3rem;
  text-align: center;
}
.content3bloc
{
  font-size: xx-large;
  margin: 7rem;
  text-align: center;
  color:#B53636;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Contact */
form{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-left: 30%;

}

.int{
  width: 500px;
  height: 45px;
  border-radius: 5px;
  font-size: 22px;
}

label{
  text-align: left;
}

textarea{
  width: 500px;
  height: 100px;
  font-size: 18px;
}

button{
  margin-left: 3rem;
  margin-top: 0.5rem;
  width: 10rem;
  padding: 1rem;
  border: transparent;
  border-radius: 2rem;
  background: black ;
  color: white;

}
button:hover{
  background: red;
  color: white;
  cursor: pointer;

}

/* Recettes */
.espaceur {
  height: 10vh;
}

h2 {
  color: #9B3E3E;
  text-align: center;
}

h3 {
  text-align: center;
}
.liste_card {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: #F5F5F5;
  color: #9B3E3E;
  border: 1px solid #9B3E3E;
  width: 25%;
}

.card:hover {
  background-color: #626060;
  color: white;
}

.image_recette {
  width: 100%;
  height: 80%;
}

/* Barre de recherche */
.searchBarchamp
{
  width: 25rem;
  margin-top:5vh;
  margin-left: 30rem;
  border-radius: 2rem;
  padding: 1rem;
  background-color: black;
  color: white;
  text-align: center;
  

}
.searchBarchamp:focus
{
  border: red solid 1rem;
  background-color: red;
  color: white;
 
}

.ResultatdeRecherche
{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: rem;
  grid-auto-rows: minmax(100px, auto);
  margin: 1rem;
}
  
.carte_recette
{
  background-color: rgb(181, 86, 75);
  width: 20rem;
  overflow-y: auto;
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin;
  padding: 1rem;
  position: relative;
  border-radius: 2rem;
  height: 100vh;
  box-shadow: #282c34 1rem 1rem 2rem;
}
.carte_recette::-webkit-scrollbar {
  width: 5px;
  height:auto;
}
/* .carte_recette::-webkit-scrollbar-thumb {
  background: rgb(80, 16, 16);
  border-radius: 2rem;
  height: 0vh;
  
} */
.img_recettes
{
  height: 45vh;
  width: 45vh;
  object-fit: cover;
  
}
#message_erreur
{
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  background-color: #9B3E3E;
  height: 5rem;
  border: black 3px solid;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


